/* Navbar */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D3D3D3;
    padding: 10px;
    border-radius: 5px;
}

.basket{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.basket img{
    width: 2rem;
}


#nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

#nav a:hover {
    color: black;
}

#nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

#nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}


#nav-right a button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;
    margin-left: 10px;

}


#log-out-btn {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

#log-out-btn a {
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#home {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

#home a {
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#orders-btn {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

#orders-btn a {
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#detail-btn {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

#detail-btn a {
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    background-color: #D3D3D3;
    padding: 50px;
    border-radius: 5px;
}

h1 {
    font-size: 60px;
    margin-top: -10px;
}

h2 {
    font-size: 40px;
}

#atc-btn {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    display: flex;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 55px 20px auto;
    padding: 10px 20px 10px 20px;
}

#atc-btn:hover {
    background-image: linear-gradient(to bottom right, #3C1460, #915CC1);
}

/* Add margins to create space between form elements */
#dropdowns select {
    margin-bottom: 10px; /* Adjust the margin as needed for the desired spacing */
    margin-right: 40px;
    width: 30%; /* Set the desired width */
    height: 40px; /* Set the desired height */
    border-radius: 10px;
    padding-left: 5px;
}


/* Styling for menuen */
.admin-menu {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

.admin-menu li {
    display: inline-block;
    margin: 10px;
}

.admin-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.admin-menu a:hover {
    background-color: #555;
}

.indhold-box {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: white;
    padding: 20px 60px 20px 60px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2); /* Add shadow here */
}


.hidden {
    display: none;
}

#toggle:checked + label + #hiddenDiv {
    display: block;
}

#toggle2:checked + label + #hiddenDiv2 {
    display: block;
}
#toggle3:checked + label + #hiddenDiv3 {
    display: block;
}

/* Basket */

#contentBasket {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 5px;
}

#cupcakeBasket {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: white;
    padding: 20px 60px 20px 60px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /
}

#cupcake-txt {
    border: 1px solid #3C1460;
    color:blue;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px;
    text-align: left;
}

th {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    color: white;
}

#delete-btn {
    background-image: linear-gradient(to bottom right, #915CC1, #3C1460);
    display: flex;
    align-items: center;
    color: white;
    border: none !important;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

 table {
     border-collapse: collapse;
     width: 100%;
 }

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    cursor: pointer; /* Tilføj en cursor-stil for at vise, at kolonnerne er klikbare */
}

tr:hover {
    background-color: #f5f5f5;
}

