<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>Cupcake</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <img src="images/cupcakecolorlogo.png" width="100%"/>
</header>

<div id="nav">
  <div class="flex-container">
    <div id="nav-left">
      <form id="home-form" method="post">
        <button type="submit" id="home" formaction="/frontpage" ><a>Køb kager</a></button>
      </form>
      <form id="orders-form" method="post">
        <button type="submit" id="orders-btn" formaction="/orders" ><a>Ordrer</a></button>
      </form>
    </div>

    <div id="nav-right">
      <a class="basket" href="basket"><img src="images/basket2.png"></a>
      <a th:text="${'Saldo: ' + #ctx.balance + ',-    '}"></a>

      <a th:text="${#ctx.username}"></a>

      <form id="logout-form" method="post">
      <button type="submit" id="log-out-btn" formaction="/logout" ><a>Log ud</a></button>
      </form>
    </div>
  </div>
</div>

</div>
<div id = 'contentBasket'>


    <form id="cupcakeBasket" method="post">
      <table>
        <thead>
        <tr>
          <th>Cupcake</th>
          <th>Antal</th>
          <th>Pris</th>

        <tbody>

        <tr th:each="cupcake : ${#ctx.basket}">
          <td>
            <span th:text="${'Top: ' + cupcake.topFlavor}"></span><br>
            <span th:text="${'Bund: ' + cupcake.bottomFlavor}"></span>
          </td>
            <td th:text="${cupcake.amount + ' stk'}"> </td>

            <td th:text="${cupcake.price + ',-'}"> </td>
            <td><button type="submit" name="id" formaction="/deleteFromBasket" th:value="${cupcake.id}">Fjern fra kurv</button></td>
        </tr>
        </tbody>
      </table>
    </form>
</div>

<div id="back">
  <form id="back_form" method="post">
  <button id="back_btn" type="submit" formaction="/frontpage"><a>Tilføj flere kager</a></button>
    </form>
</div>

<div id="total">
<form id="checkout-form" method="post">
  <h3>Total: <span th:text="${#ctx.totalPrice + ',-'}"></span></h3>
  <button id="checkout-btn" type="submit" formaction="/checkout"><a>Betal</a></button>
</form>
</div>

</body>
</html>