<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cupcake</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <img src="images/cupcakecolorlogo.png" width="100%"/>
</header>

<div id="nav">
  <div class="flex-container">
    <div id="nav-left">
      <form id="home-form" method="post">
      <button type="submit" id="home" formaction="/frontpage" ><a>Køb kager</a></button>
      </form>
      <form id="orders-form" method="post">
        <button type="submit" id="orders-btn" formaction="/orders" ><a>Ordrer</a></button>
      </form>
    </div>

    <div id="nav-right">
      <a href="basket"><img src="images/basket2.png"  height="5%" width="5%"></a>
      <a th:text="${'Saldo: ' + #ctx.balance + ',-    '}"></a>

      <a th:text="${#ctx.username}"></a>

      <form id="logout-form" method="post">
        <button type="submit" id="log-out-btn" formaction="/logout" ><a>Log ud</a></button>
      </form>
    </div>
  </div>
</div>

</div>
<div id = 'content'>

  <div id="heads">
  <h1>Velkommen ombord</h1>
  <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>
  </div>

  <form id="dropdowns"  method="post">
    <select name="bottom" id="bottom">
      <option th:each="bottom : ${#ctx.bottomFlavors}" th:value="${bottom.id}"
              th:text="${bottom.flavor + ' ' + bottom.price + ',-'}"></option>
    </select>

    <select name="top" id="top">
      <option th:each="top : ${#ctx.topFlavors}" th:value="${top.id}"
              th:text="${top.flavor + ' ' + top.price + ',-'}"></option>
    </select>

    <select name="amount" id="amount">
      <option value="1">1 stk</option>
      <option value="2">2 stk</option>
      <option value="3">3 stk</option>
      <option value="4">4 stk</option>
      <option value="5">5 stk</option>
    </select>
    <button id="atc-btn" type="submit" formaction="/addToBasket"><a>Læg i kurv</a></button>
    <p class="message" th:text="${#ctx.message}"></p>
  </form>
</div>

</body>
</html>