<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
        <img src="../public/images/cupcakelogo.png" width="100%"/>
    </header>
    <div id="nav">
        <ul id="main-menu">
            <li> Ordrer</li>
            <li> Kunder</li>
            <li> iodj@kfj.dk</li>
            <li> Log ud</li>
        </ul>

    </div>
    <div id = 'content'>
        <h1>Velkommen ombord</h1>
        <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

        <div id="dropdownsContainer">

        </div>


    </div>

</body>
</html>