<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Cupcake</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <img src="images/cupcakecolorlogo.png" width="100%"/>
</header>

<div id="nav">
    <div class="flex-container">
        <div id="nav-left">
            <form id="home-form" method="post">
                <button type="submit" id="home" formaction="/frontpage" ><a>Køb kager</a></button>
            </form>
            <form id="orders-form" method="post">
                <button type="submit" id="orders-btn" formaction="/orders" ><a>Ordrer</a></button>
            </form>
        </div>

        <div id="nav-right">
            <a class="basket" href="basket"><img src="images/basket2.png"></a>
            <a th:text="${'Saldo: ' + #ctx.balance + ',-    '}"></a>
            <a th:text="${#ctx.username}"></a>
            <form id="logout-form" method="post">
                <button type="submit" id="log-out-btn" formaction="/logout" ><a>Log ud</a></button>
            </form>
        </div>
    </div>
</div>

<div id = 'orderContent'>
    <form id="orders" method="post">
        <table>
            <thead>
            <tr>
                <th>Ordrenummer</th>
                <th>Status</th>
                <th>Pris</th>

            <tbody>
            <tr th:each="order : ${#ctx.orders}">
                <td th:text="${order.orderNr}" ></td>
                <td th:text="${order.status}"> </td>
                <td th:text="${order.price + ',-'}"> </td>
                <td> <button type="submit" id="detail-btn" name="orderNr" formaction="/orderDetail" th:value="${order.orderNr}">Se Ordre Detaljer</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>