<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="da">
<head>
  <img src="images/cupcakecolorlogo.png" alt="logo" width="100%">
  <title>Admin - Olsker Cupcakes</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <div id="nav">
    <ul class="admin-menu">
      <li><a href="/users">Bruger</a></li>
      <li><a href="/cake">Kager</a></li>
      <li><a href="/admin_orders">Ordre</a></li>
      <span th:text="${#ctx.username}" style="color: grey; margin-right: 10px;"></span>
      <form id="logout-form" method="post">
        <button type="submit" id="log-out-btn" formaction="/logout"><a>Log ud</a></button>
      </form>
    </ul>

    <div class="indhold-box">
      <h2>Rediger og Søg Bruger</h2>

      <form method="post" action="/searchUser">
        <div>
          <label for="email">Søg efter e-mail:</label>
          <input type="text" id="email" name="email" />
          <button type="submit">Søg</button>
        </div>
      </form>

      <div th:if="${user != null}">
        <h3>Brugeroplysninger</h3>
        <form method="post" action="/updateUser">
          <input type="hidden" name="id" th:value="${user.id}" />
          <div>
            <label for="newBalance">Nyt saldo:</label>

          </div>
          <p>Bruger ID: <span th:text="${user.id}"></span></p>
          <p>E-mail: <span th:text="${user.email}"></span></p>
          <input type="text" id="newBalance" name="newBalance"  th:value="${user.balance}" />
          <button type="submit">Gem ændringer</button>
        </form>

      </div>

      <div th:if="${user == null}">
        <p>Brugeren blev ikke fundet.</p>
      </div>

      <p class="errormessage" th:text="${#ctx.message}"></p>
    </div>
  </div>
</div>
</body>
</html>
