<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <img src="images/cupcakecolorlogo.png" alt="logo" width="100%">
  <title>Admin - Olsker Cupcakes</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <div id="nav">
    <ul class="admin-menu">
      <li><a href="/users">Bruger</a></li>
      <li><a href="/cake">Kager</a></li>
      <li><a href="/ordre">Ordre</a></li>
      <span th:text="${#ctx.username}" style="color: grey; margin-right: 10px;"></span>
      <button id="log-out-btn"><a href="/">Log ud</a></button>
    </ul>

    <div class="indhold-box">
    <h1>Brugersektion</h1>
    <p>Dette er brugersektionens indhold. Du kan tilpasse denne HTML efter dine behov.</p>
  </div>
  </div>
</div>

</body>
</html>

